header {
  text-align: center;
  color: #095484;
  font: 2rem sans-serif;
} 

body {
  background-image: linear-gradient(to right top, #1d1800, #342e0d, #4f4612, #6c5f17, #8b791c, #9e8924, #b19a2c, #c4ab34, #ceb641, #d8c04d, #e3cb59, #edd665);
  line-height: 2;

  border: 0.5rem outset yellow;
  box-shadow: 0 0 0 1rem #095484;
  border-radius: 42px;
  font: sans-serif;
  color: rgb(2, 2, 0);
  margin: 2rem;
  padding: 1rem;
  outline-offset: 0.5rem;
}

body ul {
  text-align: right;
  list-style: none;
  border-top: 5px solid #095484;
  border-width: 30px;
}


hr {
  border: 5px solid #095484;
  width: 200px;
  position: relative;
  right: auto;
  float: right;
}
section 

p {
  text-align: center;
}

footer {
  text-align: center;

}

#footp {
  /* width: 50%; */
  margin-inline: 35%;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  color: #010c13;
}