header {
  text-align: center;
  color: aqua;
  font: 2rem sans-serif;
} 

body {
  background-color: rgb(12, 12, 12);
  line-height: 2;

  border: 0.5rem outset yellow;
  box-shadow: 0 0 0 1rem skyblue;
  border-radius: 42px;
  font: sans-serif;
  color: yellow;
  margin: 2rem;
  padding: 1rem;
  outline-offset: 0.5rem;
}
body ul {
  text-align: right;
  list-style: none;
}

section 

p {
  text-align: center;
}

footer {
  text-align: center;
}

footer p {
  font-size: 3em;
  color: aqua;
}